{% extends 'base.html' %}

{% load staticfiles %}
{% block header_block1 %}
  {% if user.is_authenticated %}
    <li><a style="color:  #2f4f4f;" href="/instrument/logout/">Logout</a></li>
    <li><a style="color:  #2f4f4f;">{{user.username}}</a></li>
  {% else %}
    <li><a style="color:  #2f4f4f;" href="/instrument/login/">Login</a></li>
  {% endif %}
{% endblock %}
{% block title_block %}Reserve Time</br>{{number_of_year}}-{{number_of_month}}-{{number_of_day}}{% endblock %}

{% block body_block %}
        </br>
        <form id="page_form" method="post" action="/instrument/dayShow/{{ number_of_year }}/{{number_of_month}}/{{number_of_day}}/add_time/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            </br>
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Page" />
        </form>
{% endblock %}
