{% extends 'base.html' %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}" />

{% block title_block %}

	{{month1.name}}

{% endblock %}




{% block body_block %}
  
    <tr>
        
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Saturday</th>
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Sunday</th>
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Monday</th>
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Tuesday</th>
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Wednesday</th>
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Thursday</th>
    <th style ="background-color: #00ced1; width: 100px; text-align:center;">Friday</th>
    
  </tr>

  <tr>
  {% for x in outWeek0 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
      {% if x %}
        {{ x }}
      {% endif %}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek1 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
        {{ x }}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek2 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
        {{ x }}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek3 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
        {{ x }}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek4 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
      {% if x %}
        {{ x }}
      {% endif %}
      </td>
  {% endfor %}
  </tr>
  <tr>
  {% for x in outWeek5 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);">
      {% if x %}
        {{ x }}
      {% endif %}
      </td>
  {% endfor %}
  </tr>
{% endblock %}

