{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}

	{{month.name}}

{% endblock %}




{% block body_block %}
  
    <tr>
        
    <th style ="background-color: #00ced1; width: 100px;">Saturday</th>
    <th style ="background-color: #00ced1; width: 100px;">Sunday</th>
    <th style ="background-color: #00ced1; width: 100px;">Monday</th>
    <th style ="background-color: #00ced1; width: 100px;">Tuesday</th>
    <th style ="background-color: #00ced1; width: 100px;">Wednesday</th>
    <th style ="background-color: #00ced1; width: 100px;">Thursday</th>
    <th style ="background-color: #00ced1; width: 100px;">Friday</th>
    
  </tr>
  
  <tr>
  {% for x in outWeek0 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
      {% if x %}
        {{ x }}
      {% endif %}
      </td>
  {% endfor %}
  </tr>


  <tr>
  {% for x in outWeek1 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
        {{ x }}
      </td>
  {% endfor %}
  </tr>


  <tr>
  {% for x in outWeek2 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
        {{ x }}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek3 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
        {{ x }}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek4 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);" >
      {% if x %}
        {{ x }}
      {% endif %}
      </td>
  {% endfor %}
  </tr>

  <tr>
  {% for x in outWeek5 %}
      <td  id={{x}} style ="background-color: #ffffff; height: 100px;" 
      onmouseover="coloring(this);" onmouseout="uncoloring(this);">
      {% if x %}
        {{ x }}
      {% endif %}
      </td>
  {% endfor %}
  </tr>
{% endblock %}

