{% extends 'base1.html' %}
      {% load staticfiles %}
  

  <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    

{% block header_block1 %}

<div style="margin-top: 70px;" id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center" style="color: #2f4f4f;">Login</h1>
      </div>
      <div class="modal-body">
          

          <form class="form col-md-12  center-block" method="post" action="/instrument/login/">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="username" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" type="submit" style="background-color:#2f4f4f;">Sign In</button>
              <span class="pull-right" ><a style="color: #2f4f4f;" href="#">Register</a></span><span><a style="color: #2f4f4f;" href="#">Need help?</a></span>
            </div>
          </form>



      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          
      </div>  
      </div>
  </div>
  </div>
</div>
  <!-- script references -->

{% endblock %}