{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}
	{% if dateOfMonth %}
		{{dateOfMonth.numofmonth.numofyear}}-{{dateOfMonth.numofmonth.name}}-{{dateOfMonth.number}}
	{% endif %}
{% endblock %}


{% block body_block1 %}
	
	{% if dateOfMonth %}	
		{% if timeOfDay %}
			
				<div class="panel panel-default" style="margin-top:10px;">
					<table class="table table-bordered" >

						<tr>
							<th style="background-color: #00ced1;text-align:center;">Time</th>
							<th style="background-color: #00ced1;text-align:center;">Reserved By</th>
						</tr>
						{% for times in timeOfDay %}
						<tr onmouseover="coloring(this);" onmouseout="uncoloring(this);">
							<th style="text-align:center;">{{ times }} : {{times.startMinute}}</th>
							<th style="text-align:center;">{{ times.numofuser }}</th>
						</tr>

					</table>
				</div>	
				<!-- <li>{{ times }} : {{times.startMinute}} - By {{ times.numofuser }}</li> -->
			{% endfor %}
		{% else %}
			<div style="text-align:center;">No Reserved Time <div>
		{% endif %}
	{% else %}
		The Day doesn't exist </br> 
	{% endif %}

	{% if user.is_authenticated %}
		<li> {{user.username}}</li>
		<li><a href="/instrument/dayShow/{{dateOfMonth.numofmonth.numofyear}}/{{dateOfMonth.numofmonth.name}}/{{dateOfMonth.number}}/add_time/">Add Time<a/></li>
	{% endif %}






{% endblock %}