<!DOCTYPE html>


<html lang="en">

<head>
	<!-- // <script src="jquery-1.11.2.min.js"></script> -->
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="http://getbootstrap.com/favicon.ico"> -->

  <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="CSS/base.css" rel="stylesheet"> -->
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}">
</head>
<body>

<title>
  Calendar
</title>



<style>

.topbar {
  background-color: #00ced1;

}




  div.menubar li:hover{
    color: #00ced1;
    background-color: #00a5a7;
  }

</style>


    <!-- Fixed navbar -->
    <nav class="topbar navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:  #2f4f4f;" href="">Calendar</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse menubar">
          <ul class="nav navbar-nav">
            <li ><a style="color:  #2f4f4f;" href="/instrument/">Home</a></li>
            <li><a style="color:  #2f4f4f;" href="/instrument/about/">About</a></li>
            <li><a style="color:  #2f4f4f;" href="/instrument/contact/">Contact</a></li>
         <!--    <li class="dropdown">
              <a href="#" style="color: #111111;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a style="color: #111111;" href="../navbar/">Default</a></li> -->
            {% block header_block1 %}{% endblock %}
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  


  <div class="img-rounded" style="background-color: #2f4f4f; color:white; padding:30px; text-align:center; font-weight:bold; font-size:40px; margin-top: 70px">
  <!-- <div class="container"> -->
  <p>{% block title_block %}{% endblock %}</p>
  </div>




<div class="panel panel-default" style="margin-top:10px;">
<table class="table table-bordered table-responsive" >


  {% block body_block %}{% endblock %}


</table>
</div>


{% block body_block1 %}{% endblock %}

<script>
var d = new Date();
var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
var monthDates = [31,      28,        31,     30,   31,    30,    31,     31,        30,        31,        30   ,    31];

function coloring(x){
  x.style.backgroundColor = "#ededed";
}

function uncoloring(x){
  x.style.backgroundColor = "#ffffff";
}

function func(){
  var person = prompt("Please enter", "");
}

document.addEventListener('click', function(e) {
    go(e.target.id);
});


// document.addEventListener('click', go(e) );


function go(e){
  
    
    // window.location="/instrument/dayShow/{{year1}}/{{month1}}/"+ e.target.id ;
// }
  if(e!=0){
    // alert(e);
    window.location="/instrument/dayShow/{{year1}}/{{month1}}/"+e;
  }
}
</script> 

<!-- <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
<script src="{% static "JS/bootstrap.min.css" %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}"> -->

</body>
</html>
